<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="ForceCpu" value="false" />
        <add key="ForceGpu" value="false" />
    </appSettings>
    <connectionStrings>
        <add name="SiteGuardEdgeDB"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SiteGuardEdgeDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>